.container {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}

.column {
    float: left;
    width: 50%;
    max-width: 250px;
    padding: 20px
}

.result {
    background-color: blueviolet;
    border-radius: 12px;
    color: white;
    text-align: center;
}

.summary {
    text-align: center;
}

.reaction {
    background-color; #FF0000FF;
}

.memory {

}

.verbal {

}

.visual {

}

