.container {
    font-family: 'Courier New', Courier, monospace;
}

.column {
    float: left;
    width: 50%;
    max-width: 250px;
    padding: 20px
}

.result {
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.summary {
    text-align: center;
}

